.env
**/.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Binary / Exe dosyaları
*.exe
*.dll
managify-go
managify
main

# Terraform binary'leri
.terraform/
.terraform.lock.hcl

# Vendor (Varsa)
vendor/
gemini_structure.md

hack/
agent/

actions-runner/
# AI Agent tasks and configs
.agents/
