project_name = "managify-dev"
aws_region   = "eu-central-1"

# Database Configuration
mongo_uri     = "mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority"

# Security
secret_key    = "your-secret-key-here"

# Google OAuth
google_client_id     = "your-google-client-id"
google_client_secret = "your-google-client-secret"
google_redirect_uri  = "http://your-alb-dns/auth/google/callback"

# App Secrets
smtp_password = "your-smtp-password"

# App Config
smtp_from   = "noreply@example.com"
smtp_host   = "smtp.example.com"
smtp_port   = "587"

# ECS
container_image = "your-account-id.dkr.ecr.eu-central-1.amazonaws.com/managify:latest"

# Optional Overrides
# api_max_limiter = "100"
# rate_limit_expiration = "1h"
# mongo_db_name = "managify"
